/*
 * Hi, this website was created by Patrick Kontschak.
 */
/* line 7, ../sass/style.sass */
html {
  height: 100%;
  margin: 0;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #33799d), color-stop(100%, #e8ebb4));
  background: -webkit-linear-gradient(top left, #33799d, #e8ebb4);
  background: -moz-linear-gradient(top left, #33799d, #e8ebb4);
  background: -o-linear-gradient(top left, #33799d, #e8ebb4);
  background: linear-gradient(top left, #33799d, #e8ebb4);
}

/* line 12, ../sass/style.sass */
body {
  width: 1210px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Lucida Grande";
  font-size: 12px;
}

/* line 19, ../sass/style.sass */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 23, ../sass/style.sass */
ul li {
  margin: 2px;
}

/* line 26, ../sass/style.sass */
ol {
  margin: 0;
  padding: 0 0 100px 10px;
  list-style-type: none;
  font-size: 14px;
  font-family: "Inconsolata", monospace;
}
/* line 32, ../sass/style.sass */
ol > li {
  display: block;
  width: 100%;
  color: #4d4d4d;
  counter-increment: customlistcounter;
}
/* line 37, ../sass/style.sass */
ol > li a {
  color: #3d5800;
  text-decoration: none;
}
/* line 40, ../sass/style.sass */
ol > li a:active, ol > li a:hover {
  color: #708b2c;
}
/* line 43, ../sass/style.sass */
ol > li:before {
  content: counter(customlistcounter) " ";
  width: 19px;
  padding: 0 20px 0 0;
  color: #a6a6a5;
  text-align: right;
  border-right: 1px dotted #e4e4e4;
  float: left;
}
/* line 51, ../sass/style.sass */
ol:first-child {
  counter-reset: customlistcounter;
}
/* line 55, ../sass/style.sass */
ol.copy > li:before {
  color: #6f706f;
  border-right: 1px dotted #323332;
}

/* line 59, ../sass/style.sass */
#editor {
  float: left;
}
/* line 61, ../sass/style.sass */
#editor.NSWindow {
  width: 950px;
  height: 684px;
}
/* line 64, ../sass/style.sass */
#editor.NSWindow .NSView {
  padding: 0;
  height: 640px;
}
/* line 67, ../sass/style.sass */
#editor.NSWindow .NSView > div {
  float: left;
}

/* line 70, ../sass/style.sass */
#info {
  float: right;
}
/* line 72, ../sass/style.sass */
#info.NSWindow {
  width: 200px;
  height: 235px;
}
/* line 75, ../sass/style.sass */
#info.NSWindow .NSView {
  padding-top: 5px;
}
/* line 77, ../sass/style.sass */
#info.NSWindow .NSView p:first-child {
  font-weight: bold;
}

/* line 80, ../sass/style.sass */
#tree {
  width: 100px;
  height: 620px;
  padding: 10px;
  color: #455563;
  background-color: #e6eaef;
  -webkit-box-shadow: #bdbdbd -1px 0 inset;
  -moz-box-shadow: #bdbdbd -1px 0 inset;
  box-shadow: #bdbdbd -1px 0 inset;
}

/* line 88, ../sass/style.sass */
#textfield {
  width: 830px;
  height: 640px;
  padding: 0;
  color: #a7a7a7;
  background-color: #fdf6e5;
  overflow: scroll;
  text-shadow: 0 0 0;
}

/* line 97, ../sass/style.sass */
#scroller {
  white-space: nowrap;
}

/* line 100, ../sass/style.sass */
#statusbar {
  height: 21px;
  display: block;
  border-top: solid 1px #686868;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4e4e4), color-stop(100%, #b8b7b8));
  background: -webkit-linear-gradient(#e4e4e4, #b8b7b8);
  background: -moz-linear-gradient(#e4e4e4, #b8b7b8);
  background: -o-linear-gradient(#e4e4e4, #b8b7b8);
  background: linear-gradient(#e4e4e4, #b8b7b8);
  -webkit-box-shadow: #f1f1f1 0 1px inset;
  -moz-box-shadow: #f1f1f1 0 1px inset;
  box-shadow: #f1f1f1 0 1px inset;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  *zoom: 1;
}

/* line 109, ../sass/style.sass */
#copyleft {
  width: 16px;
  height: 16px;
  display: block;
  margin: 9px 4px 0;
  font-size: 22px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 116, ../sass/style.sass */
#copyleft::after {
  content: "\2699";
}

/* Syntax highlighting */
/* line 121, ../sass/style.sass */
.haml, .link {
  color: #cd264c;
}

/* line 126, ../sass/style.sass */
.coffee .string:before {
  content: "\0000a0 \0000a0";
}
/* line 129, ../sass/style.sass */
.coffee .string .string:before {
  content: "";
}

/* line 132, ../sass/style.sass */
.copy {
  background: #191919;
  width: 810px;
  height: 540px;
}
/* line 136, ../sass/style.sass */
.copy li {
  color: #c3d1cf;
}
/* line 138, ../sass/style.sass */
.copy .highlighted {
  background: #202122;
}

/* line 142, ../sass/style.sass */
.indent:before {
  content: "\0000a0 \0000a0";
}

/* line 145, ../sass/style.sass */
.class {
  color: #cd264c;
}
/* line 147, ../sass/style.sass */
.class:after {
  content: " {";
  color: #4d4d4d;
}

/* line 151, ../sass/style.sass */
.property {
  color: #ca9d36;
}
/* line 153, ../sass/style.sass */
.property:before {
  content: "\0000a0 \0000a0";
}
/* line 155, ../sass/style.sass */
.property:after {
  content: ":";
  color: #4d4d4d;
}

/* line 159, ../sass/style.sass */
.value {
  color: #f6853c;
}
/* line 161, ../sass/style.sass */
.value:after {
  content: ",";
  color: #4d4d4d;
}

/* line 165, ../sass/style.sass */
.reference {
  color: #4173a9;
}

/* line 169, ../sass/style.sass */
.value:before, .reference:before {
  content: "\0000a0 \0000a0 \0000a0 \0000a0";
}

/* line 172, ../sass/style.sass */
.string {
  color: #708b2c;
}

/* line 175, ../sass/style.sass */
.integer {
  color: #89beac;
}

/* line 179, ../sass/style.sass */
.empty:after {
  content: "";
}

/* line 183, ../sass/style.sass */
.end:after {
  content: ";";
  color: #4d4d4d;
}

/* line 187, ../sass/style.sass */
.function {
  color: #4173b1;
}

/* line 190, ../sass/style.sass */
.define {
  color: #55a1a5;
}

/* line 193, ../sass/style.sass */
.parameters, .interpol, .date {
  color: #f6853c;
}

/* line 196, ../sass/style.sass */
.rocket {
  color: #8a5ba2;
}

/* line 199, ../sass/style.sass */
.comment {
  color: #8e908c;
}

/* line 202, ../sass/style.sass */
.block {
  color: #8a5ba2;
}

/* line 205, ../sass/style.sass */
.method {
  color: #4173a9;
}

/* line 208, ../sass/style.sass */
.headline {
  color: #7d954e;
}

/* line 211, ../sass/style.sass */
.highlighted {
  background: #eee8d7;
}
