@charset "UTF-8";
/**
 * Hi, this website was created by Patrick Kontschak.
 */
html {
  height: 100%;
  margin: 0; }

body {
  width: 1210px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Lucida Grande";
  font-size: 12px;
  background-color: #269;
  background-image: linear-gradient(#ffffff 2px, rgba(0, 0, 0, 0) 2px), linear-gradient(90deg, #ffffff 2px, rgba(0, 0, 0, 0) 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul li {
    margin-right: 1px; }
    ul li a {
      display: block;
      padding: 2px 12px 2px 11px; }

ol {
  margin: 0;
  padding: 0 0 100px;
  list-style-type: none;
  font-size: 14px;
  font-family: "Inconsolata", monospace; }
  ol > li {
    display: block;
    width: 100%;
    color: #4d4d4d;
    counter-increment: customlistcounter; }
    ol > li a {
      color: #3d5800; }
      ol > li a:active, ol > li a:hover {
        color: #708b2c; }
    ol > li:before {
      content: counter(customlistcounter) " ";
      width: 19px;
      padding: 0 20px 0 0;
      color: #a6a6a5;
      text-align: right;
      border-right: 1px dotted #e4e4e4;
      float: left; }
    ol > li:after {
      color: #4d4d4c; }
  ol:first-child {
    counter-reset: customlistcounter; }
  ol.copy > li:before {
    color: #6f706f;
    border-right: 1px dotted #323332; }

#editor {
  float: left; }
  #editor.NSWindow {
    width: 950px;
    height: 684px; }
    #editor.NSWindow .NSView {
      padding: 0;
      height: 640px; }
      #editor.NSWindow .NSView > div {
        float: left; }

#info {
  float: right; }
  #info.NSWindow {
    width: 200px; }
    #info.NSWindow .NSView p:first-child {
      font-weight: bold; }

#info-content {
  padding: 20px;
  padding-top: 5px;
  color: #c5c8c6;
  background-color: #272822;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px; }
  #info-content a {
    color: #455563; }
    #info-content a:hover, #info-content a:active {
      color: #687886; }

#tree {
  width: 120px;
  height: 636px;
  padding: 2px 0;
  color: #455563;
  background-color: #232323;
  -moz-box-shadow: #000 -1px 0 inset;
  -webkit-box-shadow: #000 -1px 0 inset;
  box-shadow: #000 -1px 0 inset;
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 4px; }

.nav {
  color: #707e8b;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 12px 2px 11px; }

.current_page {
  color: #f3ffff;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM5MzkzOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #272727), color-stop(100%, #393939));
  background: -moz-linear-gradient(#272727, #393939);
  background: -webkit-linear-gradient(#272727, #393939);
  background: linear-gradient(#272727, #393939);
  -moz-box-shadow: #000 0 1px inset, #000 0 -1px inset;
  -webkit-box-shadow: #000 0 1px inset, #000 0 -1px inset;
  box-shadow: #000 0 1px inset, #000 0 -1px inset; }

#textfield {
  width: 830px;
  height: 640px;
  padding: 0;
  color: #c5c8c6;
  background-color: #272822;
  overflow: scroll;
  text-shadow: 0 0 0;
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 0; }

#scroller {
  white-space: nowrap; }

#statusbar {
  height: 30px;
  display: none;
  border-top: solid 1px #444;
  border-bottom: solid 1px #111;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5MzkzOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #393939), color-stop(100%, #272727));
  background: -moz-linear-gradient(#393939, #272727);
  background: -webkit-linear-gradient(#393939, #272727);
  background: linear-gradient(#393939, #272727);
  -moz-box-shadow: #000 0 1px inset;
  -webkit-box-shadow: #000 0 1px inset;
  box-shadow: #000 0 1px inset;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  *zoom: 1; }

#copyleft {
  width: 16px;
  height: 16px;
  display: block;
  margin: 12px 10px;
  font-size: 16px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
  #copyleft::after {
    content: "⚙"; }

/* Syntax highlighting */
.haml, .link, .class {
  color: #c82829; }

.parameters, .interpol, .date, .value {
  color: #f5871f; }

.property {
  color: #eab700; }

.reference, .function, .method {
  color: #4271ae; }

.string, .headline {
  color: #718c00; }

.integer, .define {
  color: #3e999f; }

.rocket, .block {
  color: #8959a8; }

.comment {
  color: #8e908c; }

.highlighted {
  background: #eee8d5; }

.coffee {
  width: 1070px; }
  .coffee .string:before {
    content: "  "; }
  .coffee .string .string:before {
    content: ""; }

.html {
  width: 870px; }

.ruby {
  width: 850px; }

.copy {
  background: #272822;
  width: 830px;
  height: 540px; }
  .copy li {
    color: #c5c8c6; }
  .copy .highlighted {
    background: #393939; }
  .copy a {
    color: #828a35;
    text-decoration: none; }
    .copy a:active, .copy a:hover {
      color: #b5bd68; }

.indent:before {
  content: "  "; }

.class:after {
  content: " {"; }

.property:before {
  content: "  "; }
.property:after {
  content: ":"; }

.value:after {
  content: ","; }

.value:before, .reference:before {
  content: "    "; }

.empty:after {
  content: ""; }

.end:after {
  content: ";"; }

.NSWindow {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px, rgba(0, 0, 0, 0.1) -1px -1px, rgba(0, 0, 0, 0.1) 1px -1px, rgba(0, 0, 0, 0.1) -1px 1px, rgba(0, 0, 0, 0.8) 0 0 70px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.INTitlebarView {
  padding: 15px 10px;
  color: #fff;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5MzkzOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3MjcyNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #393939), color-stop(100%, #272727));
  background: -moz-linear-gradient(#393939, #272727);
  background: -webkit-linear-gradient(#393939, #272727);
  background: linear-gradient(#393939, #272727);
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  border-top: solid 1px #686868;
  border-bottom: solid 1px #000; }
