/**
 * Hi, this website was created by Patrick Kontschak.
 */

@import "compass"

html
  display: table
  width: 100%
  height: 100%

body
  margin: 0px
  padding: 50px
  display: table-cell
  vertical-align: middle
  font-family: "Lucida Grande"
  font-size: 12px
  +background(linear-gradient(top left, #33799d, #e8ebb4))

ul
  margin: 0
  padding: 0
  li
    margin: 2px

ol
  margin: 0
  padding: 0
  list-style-type: none
  font-size: 14px
  font-family: 'Inconsolata', sans-serif
  & > li
    display: block
    width: 100%
    color: #4d4d4d
    counter-increment: customlistcounter
    &:before
      content: counter(customlistcounter) " "
      width: 19px
      padding: 0 20px 0 0
      color: #a6a6a5
      text-align: right
      border-right: 1px dotted #e4e4e4
      float: left

  &:first-child
    counter-reset: customlistcounter

#app
  display: block
  width: 882px
  height: 684px
  margin: 0 auto
  background-color: #ededed
  +box-shadow(rgba(#000, .1) 1px 1px, rgba(#000, .1) -1px -1px, rgba(#000, .1) 1px -1px, rgba(#000, .1) -1px 1px, rgba(#000, .8) 0 0 70px)
  +border-radius(5px)

#toolbar
  height: 21px
  display: block
  border-bottom: solid 1px #686868
  +background(linear-gradient(#e4e4e4, #b8b7b8))
  +box-shadow(#f1f1f1 0 1px inset)
  +border-radius(6px 6px 0 0)

#traffic-light
  display: inline
  margin-left: 4px
  float: left
  .aqua
    width: 12px
    height: 12px
    display: block
    margin: 5px 4px 4px 4px
    background: #000
    float: left
    +background-image(radial-gradient(6px 18px, rgba(#fff, .7) 2px, rgba(#fff, 0) 5px), radial-gradient(6px -1px, #fff 1px, rgba(#fff, 0) 3px))
    +box-shadow(rgba(#000, .9) 0 1px 4px inset, rgba(#fff, .5) 0 1px)
    +border-radius(100px)
    &#red
      background-color: #f24443
    &#yellow
      background-color: #f0aa5a
    &#green
      background-color: #88be72

#view
  width: 882px
  height: 640px
  div
    +float-left

#tree
  width: 80px
  height: 620px
  padding: 10px
  color: #455563
  background-color: #e6eaef
  +box-shadow(#bdbdbd -1px 0 inset)

#textfield
  width: 762px
  height: 640px
  padding: 0 10px
  color: #a7a7a7
  background-color: #fff
  overflow: scroll
  a
    color: #708b2c
    &:visited,
    &:active,
    &:hover
      color: #708b2c - #333333

#scroller
  width: 762px

#statusbar
  height: 21px
  display: block
  border-top: solid 1px #686868
  +background(linear-gradient(#e4e4e4, #b8b7b8))
  +box-shadow(#f1f1f1 0 1px inset)
  +border-radius(0 0 4px 4px)
  +clearfix

#copyleft
  width: 16px
  height: 16px
  display: block
  +rotate(180deg)
  &::after
    content: "\00A9"

/* Syntax highlighting */

.haml
  color: #cd264c

.class
  color: #cd264c
  &:after
    content: " {"
    color: #4d4d4d
    white-space-collapsing: discard

.property
  color: #ca9d36
  &:after
    content: ":"
    color: #4d4d4d
    white-space-collapsing: discard

.value
  color: #f6853c
  &:after
    content: ","
    color: #4d4d4d
    white-space-collapsing: discard

.reference
  color: #4173a9

.value, .reference
  &:before
    content: "\0000a0"

.string
  color: #708b2c

.end
  &:after
    content: ";"
    color: #4d4d4d
    white-space-collapsing: discard