/**
 * Hi, this website was created by Patrick Kontschak.
 *
 * Thanks goes to:
 * Twitter Bootstrap: http://twitter.github.com/bootstrap/
 * Bootstrap for Sass: https://github.com/thomas-mcdonald/bootstrap-sass/
 * Prism.js: http://prismjs.com/
 *
 */
@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bootstrap/code"
@import "bootstrap/type"
@import "bootstrap/reset"
@import "bootstrap/scaffolding"
@import "bootstrap/grid"
@import "bootstrap/utilities"

html
  display: table
  width: 100%
  height: 100%

body
  margin: 0px
  display: table-cell
  vertical-align: middle

pre[class*="language-"]
  margin: 0

.line-highlight::before, .line-highlight[data-end]::after
  padding: 0 .7em