%ol
  %li
    My social life:
  %li
    %span.headline ===
  %li
    &nbsp;
  %li
    Follow me on:
  %li
    %span.indent
      [
      %span.link>< Twitter
      ](
      %a{:href => "http://twitter.com/paddykontschak"}>< http://twitter.com/paddykontschak
      )
  %li
    %span.indent
      [
      %span.link>< App.net
      ](
      %a{:href => "http://alpha.app.net/paddykontschak"}>< http://alpha.app.net/paddykontschak
      )
  %li
    %span.indent
      [
      %span.link>< Forrst
      ](
      %a{:href => "http://forrst.me/paddykontschak"}>< http://forrst.me/paddykontschak
      )
  %li
    %span.indent
      [
      %span.link>< CodePen
      ](
      %a{:href => "http://codepen.io/paddykontschak"}>< http://codepen.io/paddykontschak
      )
  %li
    [
    %span.link>< Fork me on Github
    ](
    %a{:href => "https://github.com/paddykontschak"}>< https://github.com/paddykontschak
    )
  %li
    [
    %span.link>< Connect with me on LinkedIn
    ](
    %a{:href => "http://www.linkedin.com/pub/patrick-kontschak/31/a1a/203"}>< http://www.linkedin.com/pub/patrick-kontschak/31/a1a/203
    )
  %li
    [
    %span.link>< Add me on Xing
    ](
    %a{:href => "http://www.xing.com/profile/Patrick_Kontschak"}>< http://www.xing.com/profile/Patrick_Kontschak
    )
  %li
    [
    %span.link>< Watch me on deviantART
    ](
    %a{:href => "http://capngoat.deviantart.com/"}>< http://capngoat.deviantart.com/
    )
  %li
    &nbsp;
  %li
    Email
  %li
    %span.headline ---
  %li
    &nbsp;
  %li
    %a{:href => "mailto:patrick@kontschak.com"} patrick@kontschak.com