%pre
  :preserve
    / Markdown
    My social life:
    ===

    [Follow me on Twitter](http://twitter.com/paddykontschak)
    [Add me to your circles on Google+](https://plus.google.com/102104314285351840329/)
    [Friend me on Facebook](http://www.facebook.com/patrickkontschak)
    [Fork me on Github](https://github.com/paddykontschak)
    [Follow me on Forrst](http://forrst.me/paddykontschak)
    [Connect with me on LinkedIn](http://www.linkedin.com/pub/patrick-kontschak/31/a1a/203)
    [Add me on Xing](http://www.xing.com/profile/Patrick_Kontschak)
    [Watch me on deviantART](http://capngoat.deviantart.com/)

    Email
    ---

    patrick@kontschak.com