%ol
  %li
    My social life:
  %li
    %span.headline ===
  %li
    &nbsp;
  %li
    Follow me on:
  %li
    %span.indent
      [
      %span.link>< Twitter
      ](
      %a{:href => "http://twitter.com/paddykontschak", :target => "_blank"}>< http://twitter.com/paddykontschak
      )
  %li
    %span.indent
      [
      %span.link>< App.net
      ](
      %a{:href => "http://alpha.app.net/paddykontschak", :target => "_blank"}>< http://alpha.app.net/paddykontschak
      )
  %li
    %span.indent
      [
      %span.link>< Forrst
      ](
      %a{:href => "http://forrst.me/paddykontschak", :target => "_blank"}>< http://forrst.me/paddykontschak
      )
  %li.highlighted
    %span.indent
      [
      %span.link>< CodePen
      ](
      %a{:href => "http://codepen.io/paddykontschak", :target => "_blank"}>< http://codepen.io/paddykontschak
      )
  %li.highlighted
    [
    %span.link>< Fork me on Github
    ](
    %a{:href => "https://github.com/paddykontschak", :target => "_blank"}>< https://github.com/paddykontschak
    )
  %li
    [
    %span.link>< Connect with me on LinkedIn
    ](
    %a{:href => "http://www.linkedin.com/pub/patrick-kontschak/31/a1a/203", :target => "_blank"}>< http://www.linkedin.com/pub/patrick-kontschak/31/a1a/203
    )
  %li
    &nbsp;
  %li
    Email
  %li
    %span.headline ---
  %li
    &nbsp;
  %li.highlighted
    %a{:href => "mailto:patrick@kontschak.com"} patrick@kontschak.com