!!! 5
%html
  %head
    %style{:type => "text/css", :media => "all"} @import "css/prism.css";
    %script{:src => "scripts/prism.js"}
  %body
    %pre{"data-line" => '4, 17-19, 31-32, 34'}
      %code.language-css
        :preserve
          /* 
            My social life:
              [Follow me on Twitter](http://twitter.com/paddykontschak)
              [Add me to your circles on Google+](https://plus.google.com/102104314285351840329/)
              [Friend me on Facebook](http://www.facebook.com/patrickkontschak)
              [Fork me on Github](https://github.com/paddykontschak)
              [Follow me on Forrst](http://forrst.me/paddykontschak)
              [Connect with me on LinkedIn](http://www.linkedin.com/pub/patrick-kontschak/31/a1a/203)
              [Add me on Xing](http://www.xing.com/profile/Patrick_Kontschak)
              Learn with me on:
                [Codecademy](http://www.codecademy.com/users/paddykontschak)
                [CodeSchool](http://www.codeschool.com/users/paddykontschak)
              [Watch me on deviantART](http://capngoat.deviantart.com/);
          */

          .contact {
            mailto: patrick@kontschak.com;
          }

          (_(
          /_/'_____/)
          "  |      |
             |""""""| this ascii goat ate my copyright...