%ol.copy
  %li #
  %li
    \#
    - 2.times do
      &nbsp;
    (_(
  %li
    \#
    - 2.times do
      &nbsp;
    \/_/'_____/)
  %li
    \#
    - 2.times do
      &nbsp;
    "
    |
    - 2.times do
      &nbsp;
    &nbsp;|
  %li
    \#
    - 3.times do
      &nbsp;
    |""""""| this ascii goat ate my copyright...
  %li #