%ol.copy
  %li #
  %li.highlighted
    \# If you're interested in my software setup,&nbsp;
    %a{:href => "https://gist.github.com/3278484"}>< check out this gist
    \.
  %li #
  %li
    \# You can also check out the source code of this website on my&nbsp;
    %a{:href => "https://github.com/paddykontschak/codinggoat"}>< GitHub
    \.
  %li #
  %li
    \#
    - 2.times do
      &nbsp;
    (_(
  %li
    \#
    - 2.times do
      &nbsp;
    \/_/'_____/)
  %li
    \#
    - 2.times do
      &nbsp;
    "
    |
    - 2.times do
      &nbsp;
    &nbsp;|
  %li
    \#
    - 3.times do
      &nbsp;
    |""""""| this ascii goat ate my copyright...
  %li #