%ol.html
  %li
    %span.haml
      \%h1
    The Coding Goat
  %li
    &nbsp;
  %li
    %span.haml
      \%h2
    About Me
  %li.highlighted
    %span.haml
      \%p
    Hi, my name is Patrick Kontschak, I'm 23 years old and I'm a developer.
  %li
    %span.haml
      \%p
    I was born in Germany and currently live in Pforzheim, Germany, but spent the last 3 years, from 2009-2012, in Canada, among others Toronto, and gained work-related experience as a Web Developer.
  %li
    %span.haml
      \%p
    This experience has also made me fluent in the English language.
  %li
    %span.haml
      \%p
    I'm a Mac and Linux user, a headbanger and beard-crawler (my own beard, of course).
