%ol.html
  %li
    %span.haml
      \%h1
    The Coding Goat
  %li
    &nbsp;
  %li
    %span.haml
      \%h2
    About Me
  %li.highlighted
    %span.haml
      \%p
    Hi, my name is Patrick Kontschak, I'm 27 years old and I'm a developer.
  %li
    %span.haml
      \%p
    I currently live in Ludwigsburg, Germany, with several years of experience as a Web Developer in Canada and Germany.
  %li
    %span.haml
      \%p
    Living and working in Toronto, ON, Canada, has also made me more fluent in the English language.
  %li
    %span.haml
      \%p
    I'm a Mac and Linux user, a photographer, I have a beard, I drink whiskey and I code.
