!!! 5
%html
  %head
    %link{:type => "text/css", :media => "all", :href => "css/prism.css"}
    %script{:type => "text/javascript", :src => "scripts/prism.js"}
  %body
    %pre{"data-line" => '4, 17-19, 31-32, 34'}
      %code.language-html
        :preserve
          / hi, i develop websites

          %h1 The Coding Goat

          %h2 About Me
            name: "Patrick Kontschak"
            age: 23;
            nationality: german;
            location: toronto(on, canada);
            languages: german, english;
            profession: web-developer;
            bio: geek, mac-user, irc-junkie, beard-crawler;

           %h2 Skills
            development: programming, markup, standards, validation, wordpress, version-control, cross-browser-compatibility, frameworks, libraries, bootstrap;
            code: html(4, 5), css(2.1, 3), jquery, coffeescript, cakephp, svn, git, less, sass, haml, ruby, rails, objective-c;
            /* tools of the trade */
              cli: vim, git, homebrew, oh-my-zsh;
              SublimeText: url(http://www.sublimetext.com/);
              OS: mac, linux;

          %h2 Education
            learning: autodidactic, enthusiastic;
            /* school */
              wilhelm-wagenfeld-school: url(http://www.wilhelm-wagenfeld-schule.de/), bremen(germany, from(2006), to(2009));
              degree: abitur; /* comparable to the International Baccalaureate */

          %h2 Work
            /* employer-history */
              ideacouture: url(http://ideacouture.com), toronto(canada, from(2011), to(2012)),
              atomic-fifty-five: url(http://atomic55.net), kelowna(canada, 2011);
            /* css3 */
              finder: url(http://patrickkontschak.com/css3/finder)
              notepaper: url(http://paddykontschak.github.com/notepaper/);
            /* themes */
              -itsy-itsyrific: url(https://github.com/paddykontschak/Itsyrific);
              -itsy-twitter: url(https://github.com/paddykontschak/twitter.itsy);
              -itsy-modern: url(https://github.com/paddykontschak/modern.itsy);
              -itsy-nawong: url(http://fav.me/d34i76i);
              -skype-bubble-gum: url(http://fav.me/d3fynib);
            /* plugins */
              prefixr-coda: url(http://forrst.com/posts/Prefixr_autocomplete_your_CSS_with_missing_CSS-IW5);