!!! 5
%html
  %head
    %link{:src => "css/prism.css", :type => "text/css", :media => "all"}
    %script{:src => "scripts/prism.js"}
  %body
    %pre
      %code.language-css
        :preserve
          / CSS
          .skills {
            development-keywords:
              markup,
              standards,
              validation,
              cross-browser-compatibility,
              responsive,
              mobile;
            version-control:
              git,
              svn;
            code:
              html(4, 5),
              css(2.1, 3),
              jquery,
              in-process(
                ruby,
                python,
                objective-c)
            preprocessors:
              coffeescript,
              less,
              sass,
              haml;
            frameworks-and-libraries:
              wordpress,
              bootstrap,
              cakephp,
              rails
            cli:
              oh-my-zsh,
              homebrew,
              rvm,
              npm,
              vim,
              SublimeText(url(http://www.sublimetext.com/));
            OS:
              mac,
              linux;
          }