%ol
  %li
    %span.class .skills
  %li
    &nbsp;
  %li
    %span.property development-keywords
  %li
    %span.value markup
  %li
    %span.value standards
  %li
    %span.value validation
  %li
    %span.value cross-browser-compatibility
  %li
    %span.value responsive
  %li
    %span.value.end mobile
  %li
    &nbsp;
  %li
    %span.property version-control
  %li
    %span.value git
  %li
    %span.value.end svn
  %li
    &nbsp;
  %li
    %span.property web
  %li<
    %span.reference.empty> html
    \(
    %span.integer> 4
    \,&nbsp;
    %span.integer>< 5
    \),
  %li<
    %span.reference.empty>< css
    \(
    %span.integer>< 2
    \.
    %span.integer> 1
    \,&nbsp;
    %span.integer> 3
    ),
  %li
    %span.value.end jquery
  %li
    &nbsp;
  %li
    %span.property preprocessors
  %li.highlighted
    %span.value coffeescript
  %li
    %span.value less
  %li.highlighted
    %span.value sass
  %li.highlighted
    %span.value.end haml
  %li
    &nbsp;
  %li
    %span.property frameworks-and-libraries
  %li
    %span.value wordpress
  %li
    %span.value bootstrap
  %li
    %span.value foundation
  %li
    %span.value material
  %li
    %span.value cakephp
  %li
    %span.value rails
  %li
    %span.value angular-js
  %li
    %span.value.end drupal
  %li
    &nbsp;
  %li
    %span.property programming
  %li
    %span.value ruby
  %li
    %span.value python
  %li
    %span.value.end objective-c
  %li
    &nbsp;
  %li
    %span.property command-line
  %li
    %span.value oh-my-zsh
  %li
    %span.value homebrew
  %li
    %span.value rvm
  %li
    %span.value npm
  %li
    %span.value bower
  %li
    %span.value gulp
  %li
    %span.value grunt
  %li
    %span.value ionic
  %li.highlighted
    %span.value vim
  %li.highlighted<
    %span.reference>< SublimeText
    \(
    %span.string><
      %a{:href => "http://www.sublimetext.com/", :target => "_blank"} "http://www.sublimetext.com/"
    \);
  %li
    &nbsp;
  %li
    %span.property OS
  %li.highlighted
    %span.value mac
  %li
    %span.value.end linux
  %li
    &nbsp;
  %li
    \}