%ol
  %li
    %span.class \.skills
  %li
    %span.property  development-keywords
  %li
    %span.value  markup
  %li
    %span.value  standards
  %li
    %span.value  validation
  %li
    %span.value  cross-browser-compatibility
  %li
    %span.value  responsive
  %li
    %span.value.end  mobile
  %li
    %span.property  version-control
  %li
    %span.value  git
  %li
    %span.value.end  svn
  %li
    %span.property  code
  %li
    %span.value  html(4, 5)
  %li
    %span.value  css(2.1, 3)
  %li
    %span.value.end  jquery
  %li
    %span.property  in-process
  %li
    %span.value  ruby
  %li
    %span.value  python
  %li
    %span.value.end  objective-c
  %li
    %span.property  preprocessors
  %li
    %span.value  coffeescript
  %li
    %span.value  less
  %li
    %span.value  sass
  %li
    %span.value.end  haml
  %li
    %span.property  frameworks-and-libraries
  %li
    %span.value  wordpress
  %li
    %span.value  bootstrap
  %li
    %span.value  cakephp
  %li
    %span.value.end  rails
  %li
    %span.property  command-line
  %li
    %span.value  oh-my-zsh
  %li
    %span.value  homebrew
  %li
    %span.value  rvm
  %li
    %span.value  npm
  %li
    %span.value  vim
  %li
    %span.reference.end  SublimeText(url(http://www.sublimetext.com/))
  %li
    %span.property  OS
  %li
    %span.value  mac
  %li
    %span.value.end  linux
  %li
    %span  \}