%ol.css
  %li
    %span.class
      \.skills {
  %li
    %span.property
      development-keywords:
  %li
    %span.value
      markup,
  %li
    %span.value
      standards,
  %li
    %span.value
      validation,
  %li
    %span.value
      cross-browser-compatibility,
  %li
    %span.value
      responsive,
  %li
    %span.value
      mobile;
  %li
    %span.property
      version-control:
  %li
    %span.value
      git,
  %li
    %span.value
      svn;
  %li
    %span.property
      code:
  %li
    %span.value
      html(4, 5),
  %li
    %span.value
      css(2.1, 3),
  %li
    %span.value
      jquery;
  %li
    %span.property
      in-process:
  %li
    %span.value
      ruby,
  %li
    %span.value
      python,
  %li
    %span.value
      objective-c;
  %li
    %span.property
      preprocessors:
  %li
    %span.value
      coffeescript,
  %li
    %span.value
      less,
  %li
    %span.value
      sass,
  %li
    %span.value
      haml;
  %li
    %span.property
      frameworks-and-libraries:
  %li
    %span.value
      wordpress,
  %li
    %span.value
      bootstrap,
  %li
    %span.value
      cakephp,
  %li
    %span.value
      rails;
  %li
    %span.property
      command-line:
  %li
    %span.value
      oh-my-zsh,
  %li
    %span.value
      homebrew,
  %li
    %span.value
      rvm,
  %li
    %span.value
      npm,
  %li
    %span.value
      vim,
  %li
    %span.reference
      SublimeText(url(http://www.sublimetext.com/));
  %li
    %span.property
      OS:
  %li
    %span.value
      mac,
  %li
    %span.value
      linux;
  %li
    %span
      \}