%ol
  %li.class \.skills
  %li.property development-keywords
  %li.value markup
  %li.value standards
  %li.value validation
  %li.value cross-browser-compatibility
  %li.value responsive
  %li.value.end mobile
  %li.property version-control
  %li.value git
  %li.value.end svn
  %li.property code
  %li.value html(4, 5)
  %li.value css(2.1, 3)
  %li.value.end jquery
  %li.property in-process
  %li.value ruby
  %li.value python
  %li.value.end objective-c
  %li.property preprocessors
  %li.value coffeescript
  %li.value less
  %li.value sass
  %li.value.end haml
  %li.property frameworks-and-libraries
  %li.value wordpress
  %li.value bootstrap
  %li.value cakephp
  %li.value.end rails
  %li.property command-line
  %li.value oh-my-zsh
  %li.value homebrew
  %li.value rvm
  %li.value npm
  %li.value vim
  %li.reference.end SublimeText(url(http://www.sublimetext.com/))
  %li.property OS
  %li.value mac
  %li.value.end linux
  %li \}