%pre
  :preserve
    / Ruby
    #!/usr/local/work

    # Employer History
    atomic_55 = ["Atomic 55 Internet Technologies", "January", "April", 2011, "Kelowna, BC", "http://atomic55.net/"]
    idea_cuture = ["Idea Couture Inc.", "June", 2011, "February", 2012, "Toronto, ON", "http://ideacouture.com/"]

    # Showcase
    def code_examples
      
      #CSS3
      finder_one = "http://patrickkontschak.com/css3/finder"
      finder_two = "http://codepen.io/paddykontschak/pen/JALeB"
      code_editor = "http://codepen.io/paddykontschak/pen/csHIg"
      amazon_kindle = "http://codepen.io/paddykontschak/pen/cFyLd"
      notepaper = "http://codepen.io/paddykontschak/pen/qdaeJ"
      
      # Themes
      itsy_itsyrific = "https://github.com/paddykontschak/Itsyrific"
      itsy_twitter = "https://github.com/paddykontschak/twitter.itsy"
      itsy_modern = "https://github.com/paddykontschak/modern.itsy"
      itsy_nawong = "http://fav.me/d34i76i"
      skype = "http://fav.me/d3fynib"
      
      # Plugins
      prefixr_coda = "http://forr.st/~IW5"

      # Shell
      irssi_notifier = "https://github.com/paddykontschak/irssi-notifier"
    end