%style{:type => "text/css", :media => "all"} @import "css/style.css";
%ol.ruby
  %li
    %span.comment #!/usr/local/work
  %li
    &nbsp;
  %li
    %span.comment # Employer History
  %li
    atomic_55
    %span.define =
    [
    %span.string>< "Atomic 55 Internet Technologies"
    \,&nbsp;
    %span.string>< "January"
    \,&nbsp;
    %span.string>< "April"
    \,&nbsp;
    %span.date> 2011
    \,&nbsp;
    %span.string>< "Kelowna, BC"
    \,&nbsp;
    %a{:href => "http://atomic55.net/", :target => "_blank"} "http://atomic55.net/"
    ]
  %li
    idea_cuture
    %span.define =
    [
    %span.string>< "Idea Couture Inc."
    \,&nbsp;
    %span.string>< "June"
    \,&nbsp;
    %span.date> 2011
    \,&nbsp;
    %span.string>< "February"
    \,&nbsp;
    %span.date> 2012
    \,&nbsp;
    %span.string>< "Toronto, ON"
    \,&nbsp;
    %a{:href => "http://ideacouture.com/", :target => "_blank"} "http://ideacouture.com/"
    ]
  %li
    &nbsp;
  %li
    %span.comment # Showcase
  %li
    %span.block def
    %span.method code_examples
  %li
    &nbsp;
  %li
    %span.indent.comment # CSS3
  %li
    %span.indent
      finder_one
      %span.define =
      %a{:href => "http://patrickkontschak.com/css3/finder", :target => "_blank"} "http://patrickkontschak.com/css3/finder"
  %li
    %span.indent
      finder_two
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/pen/JALeB", :target => "_blank"} "http://codepen.io/paddykontschak/pen/JALeB"
  %li
    %span.indent
      code_editor
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/pen/csHIg", :target => "_blank"} "http://codepen.io/paddykontschak/pen/csHIg"
  %li
    %span.indent
      amazon_kindle
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/pen/cFyLd", :target => "_blank"} "http://codepen.io/paddykontschak/pen/cFyLd"
  %li
    %span.indent
      notepaper
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/pen/qdaeJ", :target => "_blank"} "http://codepen.io/paddykontschak/pen/qdaeJ"
  %li
    &nbsp;
  %li
    %span.indent.comment # Themes
  %li
    %span.indent
      itsy_itsyrific
      %span.define =
      %a{:href => "https://github.com/paddykontschak/Itsyrific", :target => "_blank"} "https://github.com/paddykontschak/Itsyrific"
  %li
    %span.indent
      itsy_twitter
      %span.define =
      %a{:href => "https://github.com/paddykontschak/twitter.itsy", :target => "_blank"} "https://github.com/paddykontschak/twitter.itsy"
  %li
    %span.indent
      itsy_modern
      %span.define =
      %a{:href => "https://github.com/paddykontschak/modern.itsy", :target => "_blank"} "https://github.com/paddykontschak/modern.itsy"
  %li
    %span.indent
      itsy_nawong
      %span.define =
      %a{:href => "http://fav.me/d34i76i", :target => "_blank"} "http://fav.me/d34i76i"
  %li
    %span.indent
      skype
      %span.define =
      %a{:href => "http://fav.me/d3fynib", :target => "_blank"} "http://fav.me/d3fynib"
  %li
    &nbsp;
  %li
    %span.indent.comment # Plugins
  %li
    %span.indent
      prefixr_coda
      %span.define =
      %a{:href => "http://forr.st/~IW5", :target => "_blank"} "http://forr.st/~IW5"
  %li
    &nbsp;
  %li
    %span.indent.comment # Shell
  %li
    %span.indent
      irssi_notifier
      %span.define =
      %a{:href => "https://github.com/paddykontschak/irssi-notifier", :target => "_blank"} "https://github.com/paddykontschak/irssi-notifier"
  %li
    %span.block end