%ol.ruby
  %li
    %span.comment #!/usr/local/work
  %li
    &nbsp;
  %li
    %span.comment # Employer History
  %li
    atomic_55
    %span.define =
    [
    %span.string>< "Atomic 55 Internet Technologies"
    \,&nbsp;
    %span.string>< "January"
    \,&nbsp;
    %span.string>< "April"
    \,&nbsp;
    %span.date> 2011
    \,&nbsp;
    %span.string>< "Kelowna, BC, Canada"
    \,&nbsp;
    %a{:href => "http://atomic55.net/", :target => "_blank"} "http://atomic55.net/"
    ]
  %li
    idea_cuture
    %span.define =
    [
    %span.string>< "Idea Couture Inc."
    \,&nbsp;
    %span.string>< "June"
    \,&nbsp;
    %span.date> 2011
    \,&nbsp;
    %span.string>< "February"
    \,&nbsp;
    %span.date> 2012
    \,&nbsp;
    %span.string>< "Toronto, ON, Canada"
    \,&nbsp;
    %a{:href => "http://ideacouture.com/", :target => "_blank"} "http://ideacouture.com/"
    ]
  %li
    1and1
    %span.define =
    [
    %span.string>< "1&1 Internet AG"
    \,&nbsp;
    %span.string>< "June"
    \,&nbsp;
    %span.date> 2013
    \,&nbsp;
    %span.date> 2015
    \,&nbsp;
    %span.string>< "Karlsruhe, BW, Germany"
    \,&nbsp;
    %a{:href => "http://1und1.de/", :target => "_blank"} "http://1und1.de/"
    ]
  %li
    fuf_frank_und_freunde
    %span.define =
    [
    %span.string>< "FUF // Frank und Freunde"
    \,&nbsp;
    %span.string>< "July"
    \,&nbsp;
    %span.date> 2015
    \,&nbsp;
    %span.string>< "Stuttgart, BW, Germany"
    \,&nbsp;
    %a{:href => "http://fuf.de/", :target => "_blank"} "http://fuf.de/"
    ]
  %li
    &nbsp;
  %li
    %span.comment # Showcase
  %li
    %span.block def
    %span.method code_examples
  %li
    &nbsp;
  %li
    %span.indent.comment # CSS3
  %li
    %span.indent
      finder_one
      %span.define =
      %a{:href => "http://patrickkontschak.com/css3/finder", :target => "_blank"} "http://patrickkontschak.com/css3/finder"
  %li.highlighted
    %span.indent
      finder_two
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/full/JALeB", :target => "_blank"} "http://codepen.io/paddykontschak/full/JALeB"
  %li
    %span.indent
      code_editor
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/full/csHIg", :target => "_blank"} "http://codepen.io/paddykontschak/full/csHIg"
  %li.highlighted
    %span.indent
      amazon_kindle
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/full/cFyLd", :target => "_blank"} "http://codepen.io/paddykontschak/full/cFyLd"
  %li
    %span.indent
      notepaper
      %span.define =
      %a{:href => "http://codepen.io/paddykontschak/full/qdaeJ", :target => "_blank"} "http://codepen.io/paddykontschak/full/qdaeJ"
  %li
    &nbsp;
  %li
    %span.indent.comment # Themes
  %li
    %span.indent
      itsy_itsyrific
      %span.define =
      %a{:href => "https://github.com/paddykontschak/Itsyrific", :target => "_blank"} "https://github.com/paddykontschak/Itsyrific"
  %li
    %span.indent
      itsy_twitter
      %span.define =
      %a{:href => "https://github.com/paddykontschak/twitter.itsy", :target => "_blank"} "https://github.com/paddykontschak/twitter.itsy"
  %li
    %span.indent
      itsy_modern
      %span.define =
      %a{:href => "https://github.com/paddykontschak/modern.itsy", :target => "_blank"} "https://github.com/paddykontschak/modern.itsy"
  %li
    %span.indent
      itsy_nawong
      %span.define =
      %a{:href => "http://fav.me/d34i76i", :target => "_blank"} "http://fav.me/d34i76i"
  %li
    %span.indent
      skype
      %span.define =
      %a{:href => "http://fav.me/d3fynib", :target => "_blank"} "http://fav.me/d3fynib"
  %li
    &nbsp;
  %li
    %span.indent.comment # Plugins
  %li
    %span.indent
      prefixr_coda
      %span.define =
      %a{:href => "http://zurb.com/forrst/posts/Prefixr_autocomplete_your_CSS_with_missing_CSS-IW5", :target => "_blank"} "http://zurb.com/forrst/posts/Prefixr_autocomplete_your_CSS_with_missing_CSS-IW5"
  %li
    &nbsp;
  %li
    %span.indent.comment # Shell
  %li.highlighted
    %span.indent
      irssi_notifier
      %span.define =
      %a{:href => "https://github.com/paddykontschak/irssi-notifier", :target => "_blank"} "https://github.com/paddykontschak/irssi-notifier"
  %li
    %span.block end